<!DOCTYPE html>
<html lang="en">

<head>
  <title>Python Flask Bucket List App</title>
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
  <!-- Bootstrap core CSS     -->
  <link href="https://demos.creative-tim.com/bs3/paper-dashboard/assets/css/bootstrap.min.css" rel="stylesheet" />
  <!--  Paper Dashboard core CSS    -->
  <link href="https://demos.creative-tim.com/bs3/paper-dashboard/assets/css/paper-dashboard.css" rel="stylesheet" />
  <!--  CSS for Demo Purpose, don't include it in your project     -->
  <link href="https://demos.creative-tim.com/bs3/paper-dashboard/assets/css/demo.css" rel="stylesheet" />
  <!--  Fonts and icons     -->
  <link href="https://demos.creative-tim.com/bs3/paper-dashboard/assets/css/themify-icons.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>

</head>

<body>
  <div class="wrapper">
    {% include 'sidebar.html' %}
    <div class="main-panel">
      {% include 'navbar.html' %}
      <div class="container-fluid" style="margin-top: 1%;">
        <div class="container">
          <form  action="javascript:void(0)">
            <div class="form-group col-md-3">
              <label class="control-label">Categories</label>
              <select class="form-control" id="category"></select>
            </div>
            <div class="form-group col-md-3">
              <label class="control-label">Audience</label>
              <select class="form-control" id="audience"></select>
            </div>
            <div class="form-group col-md-2">
              <label class="control-label">Type</label>
              <select class="form-control" id="type"></select>
            </div>
            <div class="form-group col-md-2">
              <label class="control-label">Size</label>
              <input type="number" id="size" min=0.01 class="form-control" step=".01" value="2"></input>
            </div>
            <div class="form-group col-md-2">
              <label class="control-label">Price</label>
              <input type="number" id="price" class="form-control"></input>
            </div>
        </div>
        <!-- <div class="row"> -->
        <div class="row" style="margin: 2.5% 0%;">
          <div class="col-md-4"></div>
          <button type="submit" class="col-md-4 btn btn-lg btn-fill btn-wd btn-success" onClick="getPrediction()">Predict</button>
          <div class="col-md-4"></div>
        </div>
        </form>
        <!-- </div> -->
        <div class="container">
          <div class="col-md-6" style="padding: 0 10%;">
            <div class="card" style="width: 36rem; box-shadow: 10px 10px 5px grey;">
              <img class="card-img-top" style="margin: 0 25% ;width: 18rem; height: 14rem;"
                src="https://image.flaticon.com/icons/png/512/671/671423.png" alt="Card image cap">
              <div class="card-body">
                <h1 class="card-title" style="text-align: center;"> 100 M</h1>
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's
                  content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
            </div>
          </div>
          <div class="col-md-6" style="padding: 0 10%;">
            <div class="card" style="width: 36rem; box-shadow: 10px 10px 5px grey;">
              <img class="card-img-top" style="margin: 0 25% ;width: 18rem; height: 14rem;"
                src="https://asset.barrons.com/public/resources/images/ON-CJ684_quizgr_B620_20171229134559.jpg"
                alt="Card image cap">
              <div class="card-body">
                <h1 class="card-title" style="text-align: center;">4.50</h1>
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12" style="margin: 2.5% 0%;">
          <div id="container"></div>
        </div>
      </div>
    </div>
  </div>

</body>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>

<script src="static/assets/js/core/bootstrap.min.js" type="text/javascript"></script>
<script src="static/assets/js/paper-dashboard.js"></script>

<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
<script src="static/assets/demo/demo.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<script>

  $(document).ready(function () {
    getAttributes();
    $('#price').val(0);
    $('#price').attr('disabled', 'disable')
  })


  $('#type').change(function(){
    if($('#type').val() == "Free"){
      $('#price').val(0);
      $('#price').attr('disabled', 'disable')
    }else{
      $('#price').removeAttr('disabled')
    }
  })

  function getAttributes() {
    $.ajax({
      dataType: 'json',
      url: "/getAttributes",
      type: "GET",
      success: function (response) {
        $('#category').html("");
        $('#audience').html("");
        $('#type').html("");
        var options = "";
        for (let index = 0; index < response.Category.length; index++) {
          options += '<option value=' + response.Category[index];
          options += '>' + response.Category[index];
          options += '</option>';

        }
        $('#category').append(options);
        options = "";
        for (let index = 0; index < response['Content Rating'].length; index++) {
          options += '<option value=' + response['Content Rating'][index];
          options += '>' + response['Content Rating'][index];
          options += '</option>';

        }
        $('#audience').append(options);
        options = "";
        for (let index = 0; index < response.Type.length; index++) {
          options += '<option value=' + response['Type'][index];
          options += '>' + response['Type'][index];
          options += '</option>';

        }
        $('#type').append(options);
      }
    });

  }


  Highcharts.chart('container', {

    title: {
      text: 'Solar Employment Growth by Sector, 2010-2016'
    },

    subtitle: {
      text: 'Source: thesolarfoundation.com'
    },

    yAxis: {
      title: {
        text: 'Number of Employees'
      }
    },
    legend: {
      layout: 'vertical',
      align: 'right',
      verticalAlign: 'middle'
    },

    plotOptions: {
      series: {
        label: {
          connectorAllowed: false
        },
        pointStart: 2010
      }
    },

    series: [{
      name: 'Installation',
      data: [43934, 52503, 57177, 69658, 97031, 119931, 137133, 154175]
    }, {
      name: 'Manufacturing',
      data: [24916, 24064, 29742, 29851, 32490, 30282, 38121, 40434]
    }, {
      name: 'Sales & Distribution',
      data: [11744, 17722, 16005, 19771, 20185, 24377, 32147, 39387]
    }, {
      name: 'Project Development',
      data: [null, null, 7988, 12169, 15112, 22452, 34400, 34227]
    }, {
      name: 'Other',
      data: [12908, 5948, 8105, 11248, 8989, 11816, 18274, 18111]
    }],

    responsive: {
      rules: [{
        condition: {
          maxWidth: 500
        },
        chartOptions: {
          legend: {
            layout: 'horizontal',
            align: 'center',
            verticalAlign: 'bottom'
          }
        }
      }]
    }

  });


function getPrediction(){
    var reqBody = {'Category' :$('#category').val(), 'ContentRating' :  $('#audience').val(), 'Type' : $('#type').val(), 'Price' : $('#price').val(), 'Size' : $('#size').val(),
    'varySize' : 0, 'varyPrice' : 0 }
    $.ajax({
      dataType: 'json',
      contentType :'application/json',
      url: "/prediction",
      type: "POST",
      data : JSON.stringify(reqBody),
      success: function (response) {

      }
    });
}

  
</script>

</html>