<div class="sidebar" data-background-color="black" data-active-color="warning">

        <!--
            Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
            Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
          -->
  
        <div class="sidebar-wrapper">
          <div class="logo">
            <a href="/index" class="simple-text">
              App Prophesy
            </a>
          </div>
  
          <ul class="nav">
            <li class="active">
              <a href="/scatterPlot">
                <i class="ti-infinite"></i>
                <p>Scatter Plot</p>
              </a>
            </li>
            <li>
              <a href="/sunburstpage">
                <i class="ti-pie-chart"></i>
                <p>Sun Burst</p>
              </a>
            </li>
            <li>
              <a href="table.html">
                <i class="ti-shortcode"></i>
                <p>Word Cloud</p>
              </a>
            </li>
            <li>
              <a href="/index">
                <i class="ti-text"></i>
                <p>Predict</p>
              </a>
            </li>
            <li>
              <a href="icons.html">
                <i class="ti-pencil-alt2"></i>
                <p>Co-relation Matrix</p>
              </a>
            </li>
          </ul>
        </div>
      </div>