<html>
  <head>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
        <!-- Bootstrap core CSS     -->
        <link href="https://demos.creative-tim.com/bs3/paper-dashboard/assets/css/bootstrap.min.css" rel="stylesheet" />
        <!--  Paper Dashboard core CSS    -->
        <link href="https://demos.creative-tim.com/bs3/paper-dashboard/assets/css/paper-dashboard.css" rel="stylesheet" />
        <!--  CSS for Demo Purpose, don't include it in your project     -->
        <link href="https://demos.creative-tim.com/bs3/paper-dashboard/assets/css/demo.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Alata|Calistoga|Oswald&display=swap" rel="stylesheet">
        <!--  Fonts and icons     -->
        <link href="https://demos.creative-tim.com/bs3/paper-dashboard/assets/css/themify-icons.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
      <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
      <script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

        <style>
            html, body, #my_dataviz {
            width: 100%;
            height: 90%;
            margin: 0;
            padding: 0;
            }
          </style> 
    </head>
    <body onload="getDataJson()">
      <div class="wrapper">
          {% include 'sidebar.html' %}
          <div class="main-panel">
              {% include 'navbar.html' %}
              <div class="container-fluid" style="margin-top: 1%;">
                <div id="container"></div>
                <div id="my_dataviz" style="height:70%"><div id="canvas"></div></div>
              </div>
          </div>
        </div>
    </body>
  <script>

$(document).ready(function(){
    $('#navBrand').html("Word Cloud");
    $("li").removeClass("active");
    $("#wordCloud").addClass("active");
})

var allData, categoryValues, wordsCat;

//getdata
async function getDataJson(){
    fetch('/getData')
    .then((resp) => resp.json()) // Transform the data into json
    .then(function(data) {
        data.shift()
        
        allData = data

        var div = document.querySelector("#container"),
    select = document.createElement("select");
    const unique = (value, index, self) => {
                return self.indexOf(value) === index
            }
  
    categoryValues = data.map(e=>e.Category).filter(unique)        
    categoryValues = categoryValues.filter(e=>e!==" Podcasts"&&e!==")"&&e!==" Channel 2 News")
    categoryValues.map((e,i)=>select.options.add( new Option(e,i) ))  
    div.appendChild(select);
    
    catId = 0
    render_wordcloud_any()
    })
}

$('#container').change(function(data){
    // render_wordcloud_hc($('#container').children().val())
    catId = $('#container').children().val()
    $('#canvas').remove()
    $('#my_dataviz').append('<div id="canvas"></div>');
    render_wordcloud_any()
})


function installFormatter(num) {
    return Math.abs(num) < 1000 ? '<1K'
    : Math.abs(num) < 200000 ? '<200K' 
    : Math.abs(num) < 500000 ? '<500K' 
    : Math.abs(num) < 1000000 ? '<1M' 
    : Math.abs(num) < 2000000 ? '<2M' 
    : Math.abs(num) < 3000000 ? '<3M' 
    : Math.abs(num) < 4000000 ? '<4M' 
    : Math.abs(num) < 5000000 ? '<5M' 
    : Math.abs(num) < 6000000 ? '<6M' 
    : Math.abs(num) < 7000000 ? '<7M' 
    : Math.abs(num) < 8000000 ? '<8M' 
    : Math.abs(num) < 9000000 ? '<9M' 
    : Math.abs(num) < 10000000 ? '<10M' 
    : Math.abs(num) < 15000000 ? '<15M' 
    : '>15M'
}

function render_wordcloud_any(){

  anychart.onDocumentReady(function() {
    fetch('/word-installation-data/'+categoryValues[parseInt(catId)])
    .then((resp) => resp.json())
    .then(function(vdata) {
      wordsCat = vdata    

      var jsonArr = []
      for (var key in wordsCat) {        
          if (wordsCat.hasOwnProperty(key)) {
            obj = {
              x: key,
              value:wordsCat[key],
              category:installFormatter(parseInt(wordsCat[key]))
            }
          }
          jsonArr.push(obj)
      }
      jsonArr.sort((a, b) => (a.value > b.value) ? 1 : -1)

      var chart = anychart.tagCloud(jsonArr);
    chart.angles([0, -45, 90, 45])
    chart.textSpacing(3).fontFamily('Alata, sans-serif');

    chart.tooltip().format(function() {
      var percentOfTotal = this.getData("value");
      return 'Installations:'+
        installFormatter(parseInt(percentOfTotal))
      
    });    // display the word cloud chart
   
    var customColorScale = anychart.scales.ordinalColor();
    customColorScale.colors(["gray","#89C400", "#E377C2","#17BECF","#FF003C","#481769", "#ffcc00", "#00C076","#0b63ef","#BA5656", "#FF8C06", "#00C076","#0b63ef","#BA5656", "#FF8C06"]);

    chart.colorScale(customColorScale);

    chart.colorRange().enabled(true);

    chart.colorRange().length('80%');
    var title = chart.title();
    title.enabled(true);
    title.useHtml(true);
    title.align("left");
    title.text(
      "<div style=\" color: #7c795d; font-family: 'Oswald', sans-serif; font-size: 35px; font-weight: normal;text-decoration:underline; margin-top:30px; margin-left:15px;\">"+categoryValues[parseInt(catId)].replace(/_/g," ")+"</div>"
    );
    chart.container("canvas");
    chart.draw();
    })

});
}

</script>

  </html>
